<a href="https://colab.research.google.com/github/pablex72/30-days-of-pandas-leetcode/blob/main/for_loop_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
rows = 6
for i in range(rows):
  #nested loop
  for j in range(i):
    #display number
        print(i, end='')
  print('')

0
01
012
0123
01234

In [5]:
rows = 5
for i in range(1, rows+1):
  for j in range(1, i+1):
    print(j, end='')
  print('')

1
12
123
1234
12345